*{
    margin: 0;
    padding: 0;
}

body{
       background:linear-gradient(45deg, rgb(135, 239, 177), rgb(177, 232, 177));
       height: 100vh;
       width: 100vw;
    }

h3{
    top:5px;
    position:absolute;
    left:px;

}

.search-box
{
  position: absolute;
  width:100%;
  top: 30px;
  left:42%;
}
.search-box input{
     width:15%;
    font-size:20px;
    text-transform: capitalize;
    color: black;
    background-color: #e6f5fb;
    padding:8px 16px;
    border-radius: 14px;

}

.search-box input::placeholder
{
    color: black;
}
button{
  width: 40px;
  height: 40px;
  font-size: 18px;
  background-color:  #e6f5fb;
border-radius: 50%;
    cursor: pointer;
  
}

.second{
    position:absolute;
    height:30vh;
    width:26vw;
    top:50vh;
    left: 40vw;
    background-color:rgba(48, 223, 165,0.4);
    padding: 30px;
    border-radius: 15px;
    box-shadow:0px 8px 15px rgba(0,0,0,0.2) ;
}
 h2{
    margin-bottom: 20px;
    color: #004d40;
    text-align: center;
 }

label {
  font-weight: bold;
  margin-right: 10px;
 flex: 1;
}

.input-group {
  display: flex;
  align-items: center;
  margin: 10px 0;
  margin-top: 20px;
}

.input-group input {
  flex: 2;
  padding: 8px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: rgba(225, 225, 225,0.7);
  color:#004d40 ;
}

/*#search{
position:relative;
margin-left:350px ;
margin-top:20px;
 border-radius:1px;
  border: none;
  outline: none;
  font-weight: bold;
  background-color: rgba(225, 225, 225,0.7);
  width:70px;
  height:20px;
  letter-spacing:1px;
  font-size: large;
  cursor: pointer;
}
  */
#container
{
  display: flex;
}
#image
{
  display: flex;
  height:80vh;
  width:20vw;
  justify-content: center;
 margin-top:100px;
 margin-left:85vh;
 background-color:rgba(48, 223, 165,0.4);
    padding: 30px;
    border-radius: 15px;
    box-shadow:0px 8px 15px rgba(0,0,0,0.2) ;
    flex-direction: column;
   


}
#image,#cloud
{

  height:120px;

}
.temprature
{
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

#image,.description
{
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}





